body { 
    font-family: arial; 
    margin:0; 
} 

header { 
    background: rgb(255, 7, 7); 
    color: black; 
    text-align: center; 
    padding: 10px; 
} 

nav {
    background: black; 
    padding: 10px; 

}

nav a { 
      color: rgba(255, 255, 255, 0.531);
      margin-right: 10px; 
      cursor: pointer;
} 

main { 
    display: flex;
}  
section { 
    display: none; 
    flex: 3; 
    padding: 10px; 
} 

section.active { 
    display: block;
} 

aside { 
    flex: 1; 
    background: lavender; 
    padding: 10px;
}